.ui-selected{
    background-color:#dee2e6;
}

#add{
    margin-left: 20px;
    margin-bottom: 20px;
}

input[type=file]::-webkit-file-upload-button,.dt-button {
    background-color:#28a745;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

input[type=file]::-webkit-file-upload-button:hover, .dt-button{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

.page-item.active .page-link,.ui-button:active,.ui-state-active{
    background-color: #28a745;
    border-color: #dee2e6;
}

.footer-section {
    margin-top: 30px;
}