    <tr class="jugador">
      <td><img src="img/defaultReferee.png" class="img" style="width:30px"></td>
      <td class="name">Rubén Yera Martín 12</td>
      <td>                    
        <div class="btn-group btn-group-toggle titular" data-toggle="buttons">
          <label class="btn btn-outline-success">
              <input type="radio" name="titular" value="true" autocomplete="off"> Titular
          </label>
          <label class="btn btn-outline-success active">
              <input type="radio" name="titular" value="false" autocomplete="off"> Suplente
          </label>
        </div>
      </td>
    </tr>
