<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="header__top--canvas">
        <div class="ht-info">
            <ul>
                <li>Real Federación Andaluza de Fútbol</li>
                <li><a href="https://tienda.rfaf.es/">Tienda</a></li>
                <li><a href="https://tv.rfaf.es/">RFAF TV</a></li>
            </ul>
        </div>
        <div class="ht-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-vimeo"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <ul class="main-menu mobile-menu">
        <li><a href="./club.html">Club</a></li>
        <li><a href="./schedule.html">Schedule</a></li>
        <li><a href="./result.html">Results</a></li>
        <li><a href="#">Sport</a></li>
        <li>Admin
            <ul class="dropdown">
                <li><a href="./categoryCrud.html">Categorías</a></li>
                <li><a href="./refereeCrud.html">Árbitros</a></li>
                <li><a href="./competitionCrud.html">Competición</a></li>
                <li><a href="./teamCrud.html">Equipo</a></li>
                <li><a href="./playerCrud.html">Player</a></li>
                <li><a href="./matchCrud.html">Partido</a></li>
                <li><a href="./designationCrud.html">Designación</a></li>
            </ul>
        </li>
        <li><a href="./contact.html">Contact Us</a></li>
    </ul>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ht-info">
                        <ul>
                            <li>Real Federación Andaluza de Fútbol</li>
                            <li><a href="https://tienda.rfaf.es/">Tienda</a></li>
                            <li><a href="https://tv.rfaf.es/">RFAF TV</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ht-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <ul class="main-menu">
                            <li class="active"><a href="./">Home</a></li>
                            <li><a href="./game">Club</a></li>
                            <li><a href="./schedule.html">Schedule</a></li>
                            <li><a href="./result.html">Results</a></li>
                            <li><a href="#">Sport</a></li>
                            <li>Admin
                                <ul class="dropdown">
                                    <li><a href="./categoryCrud.html">Categorías</a></li>
                                    <li><a href="./refereeCrud.html">Árbitros</a></li>
                                    <li><a href="./competitionCrud.html">Competición</a></li>
                                    <li><a href="./teamCrud.html">Equipo</a></li>
                                    <li><a href="./playerCrud.html">Player</a></li>
                                    <li><a href="./matchCrud.html">Partido</a></li>
                                    <li><a href="./designationCrud.html">Designación</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Contact Us</a></li>
                        </ul>
                        <div class="nm-right search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
</html>
