<tr class="partido">
    <td class="left-team">
        <img src="img/schedule/flag-1.jpg" class="imgLocal" alt="Imagen equipo Local">
        <h4 class="nombreLocal">Australia</h4>
    </td>
    <td class="st-option">
        <div class="so-text estadio">MetLife Stadium, Rutherford USA</div>
        <h4 class="resultado">VS</h4>
        <div class="so-text fecha">15 September 2019</div>
    </td>
    <td class="right-team">
        <img src="img/schedule/flag-2.jpg" class="imgVisitante" alt="Imagen equipo Visitante">
        <h4 class="nombreVisitante" >Qatar</h4>
    </td>
</tr>